In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('Churn_Modelling.csv')
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [3]:
df=df.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [4]:
df.isna().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [5]:
df.dtypes

CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

# Data Preprocessing

In [6]:
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()

In [7]:
df['Geography']=label.fit_transform(df['Geography'])
df['Gender']=label.fit_transform(df['Gender'])

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
#Handle scaling of numerical features
scalar=StandardScaler()

In [10]:
df['Balance']=scalar.fit_transform(df[['Balance']]).round(2)
df['Age']=scalar.fit_transform(df[['Age']]).round(2)

In [11]:
df['CreditScore']=scalar.fit_transform(df[['CreditScore']]).round(2)
df['EstimatedSalary']=scalar.fit_transform(df[['EstimatedSalary']]).round(2)

In [12]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,-0.33,0,0,0.29,2,-1.23,1,1,1,0.02,1
1,-0.44,2,0,0.20,1,0.12,1,0,1,0.22,0
2,-1.54,0,0,0.29,8,1.33,3,1,0,0.24,1
3,0.50,0,0,0.01,1,-1.23,2,0,0,-0.11,0
4,2.06,2,0,0.39,2,0.79,1,1,1,-0.37,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,1.25,0,1,0.01,5,-1.23,2,1,0,-0.07,0
9996,-1.39,0,1,-0.37,10,-0.31,1,1,1,0.03,0
9997,0.60,0,0,-0.28,7,-1.23,1,0,1,-1.01,1
9998,1.26,1,1,0.29,3,-0.02,2,1,0,-0.13,1
9999,1.46,0,0,-1.04,4,0.86,1,1,0,-1.08,0

In [13]:
x=df.drop('Exited',axis=1)
y=df['Exited']

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [17]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [18]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model = Sequential()

# Input layer + first hidden layer
model.add(Dense(32, input_dim=X_train.shape[1], activation='relu'))

# Second hidden layer
model.add(Dense(16, activation='relu'))

# Output layer (binary classification)
model.add(Dense(1, activation='sigmoid'))

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
history = model.fit(X_train, y_train, epochs=50, batch_size=32, validation_split=0.2)

C:\Users\dnyan\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Epoch 1/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 4s 6ms/step - accuracy: 0.7513 - loss: 0.5540 - val_accuracy: 0.8100 - val_loss: 0.4399
Epoch 2/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8013 - loss: 0.4474 - val_accuracy: 0.8163 - val_loss: 0.4280
Epoch 3/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8052 - loss: 0.4429 - val_accuracy: 0.8250 - val_loss: 0.4189
Epoch 4/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8083 - loss: 0.4337 - val_accuracy: 0.8244 - val_loss: 0.4149
Epoch 5/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8261 - loss: 0.4167 - val_accuracy: 0.8338 - val_loss: 0.4048
Epoch 6/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8343 - loss: 0.4054 - val_accuracy: 0.8375 - val_loss: 0.4003
Epoch 7/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8377 - loss: 0.3917 - val_accuracy: 0.8388 - val_loss: 0.3945
Epoch 8/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8424 - loss: 0.3879 - val_accuracy: 0.8400 - val_loss: 0.3880
Epoch 9/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8330 - loss: 0.3892 - val_accuracy: 0.8400 - val_loss: 0.3855
Epoch 10/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8430 - loss: 0.3885 - val_accuracy: 0.8438 - val_loss: 0.3805
Epoch 11/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8421 - loss: 0.3817 - val_accuracy: 0.8469 - val_loss: 0.3762
Epoch 12/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8476 - loss: 0.3703 - val_accuracy: 0.8431 - val_loss: 0.3733
Epoch 13/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8444 - loss: 0.3705 - val_accuracy: 0.8444 - val_loss: 0.3702
Epoch 14/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8411 - loss: 0.3776 - val_accuracy: 0.8444 - val_loss: 0.3691
Epoch 15/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8490 - loss: 0.3595 - val_accuracy: 0.8500 - val_loss: 0.3640
Epoch 16/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8452 - loss: 0.3688 - val_accuracy: 0.8494 - val_loss: 0.3645
Epoch 17/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8559 - loss: 0.3504 - val_accuracy: 0.8481 - val_loss: 0.3602
Epoch 18/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8533 - loss: 0.3543 - val_accuracy: 0.8481 - val_loss: 0.3654
Epoch 19/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8514 - loss: 0.3512 - val_accuracy: 0.8475 - val_loss: 0.3575
Epoch 20/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8576 - loss: 0.3382 - val_accuracy: 0.8494 - val_loss: 0.3581
Epoch 21/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8614 - loss: 0.3405 - val_accuracy: 0.8512 - val_loss: 0.3546
Epoch 22/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8636 - loss: 0.3391 - val_accuracy: 0.8475 - val_loss: 0.3594
Epoch 23/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8659 - loss: 0.3434 - val_accuracy: 0.8531 - val_loss: 0.3536
Epoch 24/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8606 - loss: 0.3435 - val_accuracy: 0.8519 - val_loss: 0.3540
Epoch 25/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8688 - loss: 0.3250 - val_accuracy: 0.8525 - val_loss: 0.3505
Epoch 26/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8651 - loss: 0.3316 - val_accuracy: 0.8506 - val_loss: 0.3500
Epoch 27/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8642 - loss: 0.3359 - val_accuracy: 0.8500 - val_loss: 0.3538
Epoch 28/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8674 - loss: 0.3267 - val_accuracy: 0.8537 - val_loss: 0.3534
Epoch 29/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8553 - loss: 0.3414 - val_accuracy: 0.8587 - val_loss: 0.3523
Epoch 30/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8721 - loss: 0.3217 - val_accuracy: 0.8512 - val_loss: 0.3493
Epoch 31/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8642 - loss: 0.3277 - val_accuracy: 0.8550 - val_loss: 0.3493
Epoch 32/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8640 - loss: 0.3323 - val_accuracy: 0.8500 - val_loss: 0.3513
Epoch 33/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8709 - loss: 0.3160 - val_accuracy: 0.8519 - val_loss: 0.3491
Epoch 34/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8722 - loss: 0.3186 - val_accuracy: 0.8531 - val_loss: 0.3532
Epoch 35/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8656 - loss: 0.3309 - val_accuracy: 0.8487 - val_loss: 0.3491
Epoch 36/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8657 - loss: 0.3325 - val_accuracy: 0.8494 - val_loss: 0.3489
Epoch 37/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8632 - loss: 0.3293 - val_accuracy: 0.8525 - val_loss: 0.3524
Epoch 38/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8595 - loss: 0.3368 - val_accuracy: 0.8512 - val_loss: 0.3503
Epoch 39/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8602 - loss: 0.3389 - val_accuracy: 0.8531 - val_loss: 0.3515
Epoch 40/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8746 - loss: 0.3135 - val_accuracy: 0.8512 - val_loss: 0.3507
Epoch 41/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8653 - loss: 0.3242 - val_accuracy: 0.8525 - val_loss: 0.3491
Epoch 42/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8659 - loss: 0.3245 - val_accuracy: 0.8469 - val_loss: 0.3493
Epoch 43/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8695 - loss: 0.3247 - val_accuracy: 0.8494 - val_loss: 0.3514
Epoch 44/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8683 - loss: 0.3193 - val_accuracy: 0.8481 - val_loss: 0.3526
Epoch 45/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8716 - loss: 0.3177 - val_accuracy: 0.8469 - val_loss: 0.3499
Epoch 46/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8683 - loss: 0.3262 - val_accuracy: 0.8469 - val_loss: 0.3515
Epoch 47/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8739 - loss: 0.3121 - val_accuracy: 0.8531 - val_loss: 0.3530
Epoch 48/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8657 - loss: 0.3264 - val_accuracy: 0.8469 - val_loss: 0.3508
Epoch 49/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8747 - loss: 0.3115 - val_accuracy: 0.8506 - val_loss: 0.3533
Epoch 50/50
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8721 - loss: 0.3137 - val_accuracy: 0.8506 - val_loss: 0.3476

In [20]:
# Test accuracy
loss, accuracy = model.evaluate(X_test, y_test)
print("Test Accuracy:", accuracy)

# Predict probabilities
y_pred_prob = model.predict(X_test)
y_pred = (y_pred_prob > 0.5).astype(int)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8603 - loss: 0.3382
Test Accuracy: 0.8640000224113464
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step

In [21]:
from sklearn.metrics import confusion_matrix, classification_report
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[1540   67]
 [ 205  188]]
              precision    recall  f1-score   support

           0       0.88      0.96      0.92      1607
           1       0.74      0.48      0.58       393

    accuracy                           0.86      2000
   macro avg       0.81      0.72      0.75      2000
weighted avg       0.85      0.86      0.85      2000